**/target
**/build
**/debug
**/dist
electra_processing/tests/processing
Electra_Processing.egg-info/**
**/__pycache__
**/*.svg
**/*.jpg
**/*.pdf
**/ElectraProcessing.log
**/*.spec
!electra_processing/icon.png
